/* IDEAS FOR TONIGHT: 1) FIND A VACCINE BUTTON ON RESULTS PAGE? 
2) NAV BUTTONS COULD BE BUTTONS TO CDC INFORMATION, POPULAR DESTINATIONS PAGE?
*/

/* what parameters are we using for the API:
6 highest rated restaurants per city.
 */
.bars label {
  padding-right: 8px;
  font-size: 1rem;
  width: 40%;
  font-family: "open sans", sans-serif;
}

span {
  padding-left: 3px;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 20px;
  
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
  background-color: #1779ba;
  border-radius: 15px;
}

body {
  background-color: #c4c4c4;
}

header {
  background-color: #379add;
  padding: 10px;
  border-bottom: 8px solid #e6e6e6;
  margin-bottom: 30px;
}

li.cell {
  background-color: #1779ba;
  color: white;
  font-weight: bold;
  padding: 6px;
  box-shadow: 0 0 10px 10px;

}

ul > li > a {
  background-color: #1779ba;
  color: white;
  font-weight: bold;
  padding: 20px;
}

.image {
  margin-bottom: 30px;
  overflow: hidden;
}

img {
  max-height: 250px;
  max-width: 400px;
}

ul > li > a:hover {
  color: white;
  background-color: #7db7de;
  transition: ease-in-out 0.2s;
}

.border {
  border: 2px solid black;
  

}

.search {
  border-radius: 10px;
}

select {
  width: 20%;
}

.searchTerm {
  width: 50%;
  border: 3px solid #e6e6e6;
  border-right: none;
  padding-right: 10px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  text-align: center;
  color: darkgray;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  padding-left: 20px;
}

.searchButton:hover {
  color: black;
  transition: ease-in-out .5s;
}

.cell {
  padding: 5px;
  background-color: #e6e6e6;
}

.blue-border,
.bars {
  border-radius: 8px;
  border: 2px solid #1779ba;
  box-shadow: 0 0 30px -5px hsl(0deg 0% 61% / 65%);
}

p.blue-border {
  font-family: "oswald", sans-serif;
  font-size: 20px;
}

p {
  font-family: "open sans", sans-serif;
  font-size: 14px;
  /* background-color:rgb(239, 248, 188); */
}
/* p1 {
  font-family: "open sans", sans-serif;
  font-size: 30px; */
  /* background-color:rgb(239, 248, 188); */
/* } */



h1,
h6 {
  font-family: "oswald", sans-serif;
  
}

h6 {
  font-size: 35px;
  
}

.info,
.events,
.bars {
  padding: 15px;
  box-shadow: 0 0 25px 5px;
}

hr {
  width: 75%;
  background-color: darkgray;
  
}

.teleport-breakdown {
  margin-top: 30px;
  font-family: "open sans", sans-serif;
}
